@import 'variables.scss';

body {
  background: $background;
}

#container {
  width:$gameWidth;
  padding:0 40px 10px;
  position: absolute;
  border-radius: 20px;
  top: 50%; right: 50%;
  transform: translate(50%,-60%);
  background-color:$gameBackground;
  border:15px solid $background;
  &.red { border-color:$winRed; }
  &.blue { border-color:$winBlue; }
  &.green { border-color:$winGreen; }
  &.orange { border-color:$winOrange; }
  &.yellow { border-color:$winYellow; }
}
