@import 'variables.scss';

.fifteen-game {
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  font-weight: bold;
  &__board{
    height:$gameHeight;
    width:$gameWidth;
    display:flex;
    flex-wrap:wrap;
    position:relative;
    background:$gameBackground;
  }
  &__piece{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 18px;
    position:absolute;
    font-size:1.25em;
    font-weight:bold;
    width:$gameSize;
    height:$gameSize;
    line-height:$gameSize;
    text-align:center;
    cursor:pointer;
    color:#FFF;
    border: 2px outset $silver;
    box-sizing:border-box;
    &.even{
      background-color:$primary;
    }
    &.odd{
      background-color:$secondary;
    }
    &.blank{
      visibility:hidden;
    }
  }
  &__score-board{
    height:$scoreRowHeight;
    text-align:center;
    font-weight:bold;
    dl {
      dt {
        font-weight:bold;
        display:inline-block;
        width:3.2em;
      }
      dd {
        display:inline-block;
        padding:0;
        margin:0;
      }
    }
  }
  &__button-row{
    height:$buttonRowHeight;
    font-weight:bold;
    margin:20px 0 0;
    text-align:center;
    button {
      cursor:pointer;
      width:50%;
      margin:0 auto;
      &:hover {
        background: linear-gradient(to bottom, #7db9e8 0%, $secondary 100%);
        color:#FFF;
        border: 1px solid $primary;
      }
    }
  }
}

.won .fifteen-game, .shuffle .fifteen-game {
  &__piece{
    cursor:default;
    &.odd {
      background: $primary;
    }
  }
}

.game-move {
  transition: transform .375s;
}
